<%- include('./layout/home-header' ) %>

<form method="POST" action="/folders" class="new-folder-form">
  <input type="text" id="name" name="name" placeholder="Folder Name" required />
  <button>Add</button>
</form>

<%- include('./layout/home-footer' ) %>
